
.ro{
    height: 200px;
    &:hover{
        box-shadow: 0 2px 4px 2px white;
        transform: translateY(-7px);
    }
}
.bod{

    margin: 5%;
    margin-top: 3%;
}  

@media screen and (max-width:1300px) {
    .bod{
        display: none;
    }
}