.prebody{
    margin: 5%;
    background: rgb(30, 28, 28);
    margin-top: 2%;
}


.sliimg{
    height:300px;
    .imagee{
        margin-left: 1rem;
        height: 100%;
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    
.sliimg{
    height:300px;
    .imagee{
       width: 90%;
        height: 100%;
    }
}
}

@media screen and (min-width:1200px) {
.prebody{
    margin: 2%;
}
}