.prebody{
    margin: 5%;
    background: rgb(30, 28, 28);
    margin-top: 2%;
}


.sliimg{
    height:300px;
    .imagee{
        margin-left: 2rem;
        height: 100%;
    }
}

@media screen and (max-width:480px) {
    
.sliimg{
    height:300px;
    .imagee{
        margin-left: 20%;
        height: 100%;
    }
}
}